<div>
  <h3>ChangeDetectionStrategy.OnPush</h3>
  <app-on-push></app-on-push>
</div>
<div>
  <h3>Detach</h3>
  <app-detach></app-detach>
</div>
<div>
  <h3>Outside</h3>
  <app-outside></app-outside>
</div>
