<div>
  Count: {{count}}
  <button (click)="add()">+</button>
  <button (click)="remove()">-</button>
</div>
<div>
  <button (click)="detach()">detach</button>
  <button (click)="reattach()">reattach</button>
  <button (click)="detectChanges()">detectChanges</button>
  <button (click)="markForCheck()">markForCheck</button>
</div>
