<div>
  childOneComponent template:
  <div>
    <app-child-one [user]="user"></app-child-one>
  </div>
  <p>
    childOneComponent object: {{childOneComponent | jsonFilter:['count', 'user', 'name']}}
  </p>
  <button (click)="addForChild()">Add count from parent template</button>
  <button (click)="mutableChangeUser()">Mutable change user</button>
  <button (click)="immutableChangeUser()">Immutable change user</button>
</div>
