<div>
  <p>
    Count: {{count}}
  </p>
  <div>
    <button (click)="add()">Add count</button>
    <button (click)="addByTimeout()">Add count with async</button>
    <button (click)="addByTimeoutWithChecking()">Add count with async and markForCheck</button>
  </div>
</div>

<div>
  <p>
    User: {{user | json}}
  </p>
</div>


